DB_DIR=./data

MOTHER_POOL_USER="bc1q98wufxmtfh5qlk7fe5dzy2z8cflvqjysrh4fx2"

WORKSTAT_SECRET="secret_value"

PAYOUT_THRESHOLD_MSAT=5000
PAYOUT_MAXIMUM_MSAT=20000000
PAYOUT_GRANULARITY_MSAT=1000

PAYOUT_PERIOD_SECS=86400

# PAYCALC_BIRTH_TIME=1758672000
