# Note: nginx with extras is needed (sudo apt-get install nginx-extras)
# Place this in /etc/nginx/nginx.conf, after http section (same level)

stream {
    upstream backend {
        server 127.0.0.1:27334;  # datum-gateway
    }
    server {
        listen 23334;
        proxy_pass backend;
    }
}

