name: Build and test Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Rust
      run: sudo apt-get install cargo && rustup override set 1.85
    - uses: actions/checkout@v4
    - name: Build Rust
      run: cd paycalc-rs && cargo build
    - name: Run unit tests
      run: |
        cd payer && cargo test && cd ..
        cd paycalc-rs && cargo test && cd ..

